.article{
.grid-container {
  padding: 5px;
}
  .category {
    text-align:center;
    padding: 15px 20px;
  }

  .p1 {
    text-align: center;
  }

  h2 {
    color:$black !important;
    text-align: center;
  }

  h5 {
    color:$black;
    line-height: 1.15;
    margin-bottom: 0;
  }

  img {
    margin-bottom:30px;
  }

  p {

    font-size: 12px;
    margin: 0;
  }

  @include breakpoint(large) {
    .grid-container {
      padding: 0 1.875rem;
    }
    h5{
      font-size: 24px;
    }
    .category {
      text-align: left;

    }

    p {
      margin-top: 8px;
      font-size: inherit;
    }
  }
}