.block {

    &--no-margin-top {
        margin-top: 0;
    }

    &--no-margin-bottom {
        margin-bottom: 0;
    }

    &--margin-bottom {
        margin-bottom: 60px;
    }
    @include breakpoint(large) {

    }
}
