.hero {
  position: relative;
  min-height: 600px;
  height: auto;
  overflow: hidden;
  flex-direction: column-reverse;
  //
  //&__image {
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 50%;
  //  height: 100%;
  //  background-size: cover;
  //  background-repeat: no-repeat;
  //  background-position: center;
  //  z-index: 0;
  // // @include bg-image;
  //}

  .main{
  flex-direction: column-reverse;
}

  .left-content {
    background-color:#3bc9a1 ;
    height: 600px;
  }
  .right-content {
    background-color: $black ;
    height: 600px;


    .hollow {
      border: 2px solid #fefefe;
      color: #fefefe;
      font-weight: bold;
    }

  }

  &__content {
    position: relative;
    margin-top: 100px;

    .content-left {
      width: 50%;
      float: left;
      h2 {
        font-size: 28px;
      }
      h6 {
        font-size: 12px;
      }

    }
  }

  &__search {
    background-color: $white;
    width: 100%;
    height: 55%;
    padding: 10px 10px;
    color: black;
    font-weight: bold;
  }

  &__dropdown {
    background-color: transparent;
    cursor: pointer;
    font-size: 15px;
    color: white;
    border-radius: 5px;

    select {
      background-color: transparent;
      color: $white;
    }
  }

  //&__slider {

    .hero-slide {
      position: relative;

      z-index: 1!important;
      overflow: hidden;
      .text-box {
        background-color: transparent;
      }
      .btn2 {
        position: relative;
      }
      &__image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
        @include bg-image;
      }

      //&-content {
      //  position: relative;
      //  height: 50%;
      //  color: $black;
      //  padding-top: 40px;
      //
      //  //.grid-container {
      //  //  width: 100%;
      //  //}
      //
      //
      //
      //  p {
      //    color: $white;
      //    font-size: 18px;
      //    font-weight: 600;
      //  }
      //}

    //}

    .slick-track,
    .hero-slide {
      min-height: 600px;
    }

    .slick-slide {
      position: relative;

      //&:before {
      //  position: absolute;
      //  left: 0;
      //  top: 0;
      //  width: 100%;
      //  height: 100%;
      //  background: rgba(255,255,255,.6);
      //  z-index: 9;
      //  content: ' ';
      //}
    }

    .slick-active {
      &:before {
        display: none;
      }
    }

    &__arrows {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 34px;
    }
  }

  @include breakpoint(large) {
    .main{
      flex-direction: row;
    }
  }
}

