.hero {
  position: relative;
  min-height: 600px;
  height: auto;
  overflow: hidden;

  &__content {
    flex-direction: column-reverse;
  }


  &__main-content {
    position: relative;
    background-color: #3bc9a1;
    min-height: 550px;
    height: 100%;
    width: 100%;

    .left-content {
      padding: 10px;

      div {
        padding-right: 0px;
        padding-left: 0px;
      }
      h4 {
        margin-top: 20px;
        letter-spacing: 0.02em;
      }

      .box1 {
        max-width: 100%;
      }

      .box2 {
        max-width: 100%;
      }
    }
  }

  &__search {
    width: 70%;
    height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px;
  }

  .hollow {
    width: 155px;
    margin-left: 60px;
  }

  &__slider {

    .hero-slide {
      min-height: 600px;

      &-content {
        position: relative;
        margin-top: 170px;

        h3 {
          padding-left: 60px;
        }

        .verticle-text {
          position: absolute;
          transform: rotate(-90deg);

          h4 {
            color: #3bc9a1;
          }
        }
      }

      &-image {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: right;
        z-index: 0;
        background-size: cover;
        @include bg-image;
      }
    }

    &__dots {
      position: absolute;
      bottom: 0px;
      width: 90%;
      height: 60%;
    }
  }

  .slick-track,
  .hero-slide {
    min-height: 550px;
  }

  .slick-slide {
    position: relative;
  }

  .slick-active {
    &:before {
      display: none;
    }
  }
  //
  //&__dots {
  //  position: absolute;
  //  bottom: 0;
  //  width: 50%;
  //  height: 34px;
  //}

  @include breakpoint(medium) {

    &__content {
      .left-content {
        padding:0 20px;
      }
    }
    &__search {
      width: 95%;
    }

    .dropdown {
      margin-left: 10px;
    }

    .hollow {
      margin-left: 70px;
      width: 170px;
    }

    &__slider {

      .hero-slide {
        &-content {
          h3 {
            padding-left: 70px;
          }
        }

      }
    }
  }

  @include breakpoint(large) {
   h1 {
     margin-top: 50px;
   }
    &__content {
      flex-direction: row;
    }

    &__slider {
      &__dots {
        width: 50%;
        height: 40%;
      }

    }

  }
}