.hero {
  position: relative;
  min-height: 600px;
  height: auto;
  overflow: hidden;
  flex-direction: column-reverse;

  &__content {
  flex-direction: column-reverse;
}

  &__left-content {
    background-color:#3bc9a1 ;
    min-height: 600px;
    height: 100%;
    padding: 0 30px;

    .content-left {

      h4 {
      margin-top:20px;
        letter-spacing: -0.02em;
      }
      }

    .box1 {
      width: 300px;
      max-width: 100%;
    }

    .box2 {
      width: 450px;
      max-width: 100%;
    }

  }

  &__right-content {
    background-color: $black ;
    min-height: 600px;
    height: 100%;
    padding: 0 30px;

    .content-right {
      position: relative;
    }

    h4 {
      width:0;
      height: 0;
      transform: rotate(-90deg);
      color:#3bc9a1 ;
      position:absolute;
    }

    .hollow {
      width:170px;
    }
  }

  &__search {
    width:170px;
    height: 50px;
    padding-top:20px;
    padding-bottom: 20px;

  }

  @include breakpoint(large) {

    &__content {
      flex-direction: row;
    }

    &__left-content {
      padding: 0 80px;
    }

    &__right-content {
      //padding: 0 55px;
    }
  }


  //&__dropdown {
  //  background-color: transparent;
  //  cursor: pointer;
  //  font-size: 15px;
  //  color: white;
  //  border-radius: 5px;
  //  height:50px;
  //
  //  select {
  //    background-color: transparent;
  //    color: $white;
  //    height:50px;
  //    min-width: 100%;
  //  }

  //
  //  .hero-slide {
  //    position: relative;
  //
  //    z-index: 1!important;
  //    overflow: hidden;
  //
  //
  //
  //    &__image {
  //      position: absolute;
  //      left: 0;
  //      top: 0;
  //      width: 100%;
  //      height: 100%;
  //      background-size: cover;
  //      background-repeat: no-repeat;
  //      background-position: center;
  //      z-index: 0;
  //      @include bg-image;
  //    }
  //
  //  .slick-track,
  //  .hero-slide {
  //    min-height: 600px;
  //  }
  //
  //  .slick-slide {
  //    position: relative;
  //
  //    //&:before {
  //    //  position: absolute;
  //    //  left: 0;
  //    //  top: 0;
  //    //  width: 100%;
  //    //  height: 100%;
  //    //  background: rgba(255,255,255,.6);
  //    //  z-index: 9;
  //    //  content: ' ';
  //    //}
  //  }
  //
  //  .slick-active {
  //    &:before {
  //      display: none;
  //    }
  //  }
  //
  //  &__arrows {
  //    position: absolute;
  //    bottom: 0;
  //    width: 100%;
  //    height: 34px;
  //  }
  //}
}

