.instagram {

  &__content {

    .fa-instagram {
      color: black;
      font-size: 32px;
      margin-right: 20px;
    }

    h2 {
      color: black;
    }

    a {
      color: #3bc9a1;
      font-weight: bold;
    }

    .fa-long-arrow-alt-right {
      color: #3bc9a1;
    }

  }
}