.page-slider {
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;

  .wrapper {
    position: relative;
  }

  &__slider {

    .page-slide {
      display: inline-flex !important;
      position: relative;
      z-index: 1;
      overflow: hidden;
     // padding-top: 59.09%;

      &-content {
        display: inline-flex !important;
        background-color: #3bc9a1;
        width:100%;
        min-height:400px;
        position: relative;
        z-index: 1;

        .left-text {
          padding:30px;

          p {
            color:$white;
            font-size: 20px;
          }
        }
      }

      &-image {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        min-height:400px;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        z-index: 0;
        @include bg-image;
      }
    }

  }

  &__dots {
    position: relative;
    bottom: 30px;
    width: 100%;
    height: 25px;
  }
}