.dropdown {

  background-color: transparent;
  cursor: pointer;
  font-size: 15px;
  color: white;
  height:50px;
  margin:10px 0;
  width:98%;

  select {
    background-color: transparent;
    color: $white;
    height:50px;
    min-width: 100%;
    border-radius: 5px;
  }
}