.image-card {

  position: relative;
  min-height: 600px;
  height: auto;
  overflow: hidden;
  z-index: 1;

  &__text {
    background-color:#3bc9a1 ;
    min-height: 600px;
    height: auto;
  }

  &__image {
    background-color:#2b2b2b;
    min-height: 600px;
    height: auto;
  }
}