.header {
  padding: 20px;
  padding-left: 30px;
  font-family: Avenir;
  font-size: 8.5px;
  position: absolute;
  z-index: 1;
  right: 0px;
  left: 0px;

  li {
    padding-right: 10px;
  }

  &__logo {
    float: left
  }

  &__menu {
    display: none;
  }

  h6 {
    padding-right: 30px;
    letter-spacing: 0.02em;
  }

  .button {
    font-weight: bold;
    font-family: Avenir !important;
  }

  .hollow {
    border: 2px solid #fefefe;
    color: #fefefe;
  }

  &__signup {
    background-color: #3b39da;
    width: 142px;
    height: 54px;
    padding: 20px 20px;
  }

  &__login {
    width: 128px;
    height: 54px;
    padding: 20px 20px;

  }
  &__hamburger {
    width: 25px;
    height: 18px;
    display: block;
    position: relative;
  }

  .line {
    display: block;
    background: $white;
    height: 3px;
    width: 100%;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .line-2 {
    top: 7px;
  }

  .line-3 {
    top: 14px;
  }

  @include breakpoint(large) {

    &__hamburger {
      display: none;
    }

    &__menu {
      display: block;
      height: 54px;

      li {
        list-style: none;
        display: inline-block;
      }
    }
  }
}
