.mobile-menu {
  background: $black;
  z-index: 2;

  ul {
    padding-top: 1rem;

    li {
      margin-bottom: 1rem;
      margin-left: 20px !important;
    }
  }

  a {
    color: $white;

    &:hover {
      opacity: 0.6;
    }
  }

  .hollow {
    border: 2px solid #fefefe;
    color: #fefefe;
  }
  &__signup {
    background-color: #3b39da;
    width: 142px;
    height: 54px;
    padding: 20px 20px;
  }

  &__login {
    width: 128px;
    height: 54px;
    padding: 20px 20px;
  }
}

