.main-nav {

  .mainlogo {
    padding-top:20px;
    padding-bottom: 40px;
  }

  .nav-bar {
    background-color: #e9f3f0;

  &__content {

    li {
      list-style: none;
      display:inline-block;
      margin-left:5px;

      a{
        color:black;
      }
      a:hover {
        color: white;
        background-color: #081328;
      }
      a:focus {
        color: white;
        background-color: #081328;
      }
    }

    ul {
      li {

        .sub-nav{
          display: none;
        }

        &:hover {
          .sub-nav {
            display: block;

            a:hover {
              color: #3bc9a1;
              background-color: #081328;
            }
          }
        }
      }
    }
    .secondary {
      list-style: none;
      display: none;
      position: absolute;
      background-color: #081328;
      width: 190px;
      z-index: 2;
      li{
        a{
          color: white;
        }
      }

    }
  }
  }

  @include breakpoint(medium) {
.nav-bar{
  &__content {
    li {
      margin-left: 40px;
    }
  }
}
  }

  @include breakpoint(large) {

    .nav-bar{
      &__content {
        li {
          margin-left: 75px;
        }
      }
    }
  }
  }
