.search {
  background-color: #3bc9a1;
  min-height:400px;
  height: auto;
  padding:20px 0;

  p {
    color:$white;
  }

  .search-btn {
    width:98%;
    margin:10px 0;
  }
  .wrapper {
    width:95%;

  }

  @include breakpoint(large) {
    .wrapper {
      width: 900px;
      margin:0 135px;
    }
  }
}

.pagination {

  $pagination-rectangular-size: 18px; // controls font and circle size
  $pagination-rectangular-color: $black;
  $pagination-rectangular-disabled-color:$black;
  $pagination-rectangular-border-thickness: 0px;

  .pagination-rectangular li.current {
    border: $pagination-rectangular-border-thickness solid $pagination-rectangular-color;
    //border-radius: 5000px;
    padding: 0.285em 0.8em;
    font-size: $pagination-rectangular-size;
    background: black;
  }

  .pagination-rectangular li.disabled {
    border: $pagination-rectangular-border-thickness solid $pagination-rectangular-disabled-color;
    padding: 0.285em 0.8em;
    //border-radius: 5000px;
    font-size: $pagination-rectangular-size;
  }

  .pagination-rectangular a {
    //border-radius: 5000px;
    padding: 0.285em 0.8em;
    border: $pagination-rectangular-border-thickness solid $pagination-rectangular-color;
    font-size: $pagination-rectangular-size;
  }

  .pagination-rectangular li:not(.disabled):hover a {
    background: $pagination-rectangular-color;
    color: $white;
  }

  .pagination-rectangular li a {
    transition: background 0.15s ease-in, color 0.15s ease-in;
  }

}
